


// importing Bootstrap glyphicons module 
@icon-font-path : "../fonts/";
@icon-font-name : "glyphicons-halflings-regular";
@import url("bootstrap-glyphicons.less");

// google webfonts
@import url("http://fonts.googleapis.com/css?family=Kavoon|Rosario:400,700,400italic,700italic&subset=latin-ext");


// Variables
@font-size-base : 14px;
@font-family-base : sans-serif;

@color-sky-blue:#659EC7;


html, body {
  min-height:100%;
  height:100%;
}

// Style rules
body {
  font-size:@font-size-base;
  font-family: @font-family-base;
  background-color:@color-sky-blue;
  overflow:hidden!important;
  margin:0;padding:0;
  
  // scroll hack
  padding-top:1px;
  padding-bottom:1px; 
  
  font-family:"Rosario";
  font-weight:400;
  font-size:10pt;
}

hr.noline { border:0;}
hr.spacer { margin: 12px 6px 32px 6px;}

.statement {
  color:#ffd;
  font-size:2em;
  font-style:italic;
  
  strong {
    color: #FFDD71;
  }
}

.layer {
  display:block;
  overflow:inherit; 
  width:100%;
  height:100%;
  margin:0; padding:0;
  position:absolute;
  top:0;
  left:0;
}

.clouds {
  white-space:nowrap ;
}

.flying {
  position:relative;
}

.cloud {
  color:#fff;
  margin:3px;
  
  position:relative;
  
  text-shadow:0 0 10px rgba(255,255,255,1), 
              0 0 5px rgba(255,255,255,1);
  z-index:0;
}


.banner {
  z-index:10;
  
  font-family:Kavoon;
  font-weight:400;
  
  display:inline-block;  
  
  span {
    padding:3px 12px;
    left:25px;
    display:inline-block;
  }
  
  &::before, &::after {
    content:"";
    display:inline-block;
    margin:0; padding:0;
    height:0 !important;
    position:relative;
    z-index:-10;
  }
}

.banner-size (@font-size : 30px) {
  @border-size : @font-size*0.66;
  
  font-size: @font-size !important;
  margin-bottom:@border-size;
  
  &::before {
    width:@border-size;
    
    bottom:-1*(@font-size);
    left:@border-size;
    
    border-style:solid;
    border-width:@border-size ;
    
  }
  &::after {
    width:@border-size;
    
    bottom:-1*(@font-size);
    right:@border-size;
    
    border-style:solid;
    border-width:@border-size ;
  }
}

.banner-color(@bgcolor : #fff, @fgcolor:#555) {
  color:@fgcolor;
  
  span {background-color:@bgcolor;}
  
  &::before {
    border-right-color:(@bgcolor - #555);
    border-top-color:(@bgcolor - #202020);
    border-bottom-color:(@bgcolor - #202020);
    border-left-color:transparent;
  }
  &::after {
    border-right-color:transparent;
    border-top-color:(@bgcolor - #202020);
    border-bottom-color:(@bgcolor - #202020);
    border-left-color:(@bgcolor - #555);
    
  }
  
}

.banner-small {
  .banner-size(14px);
}
.banner-medium {
  .banner-size(30px);
}
.banner-large {
  .banner-size(46px);
}

.banner-white { .banner-color(); }
.banner-fuchsia { .banner-color(#FF003D, #ffd); }
.banner-orange { .banner-color(#FC930A, #ffd); }
.banner-mustard { .banner-color(#E0E05A, #fff); }
.banner-mint { .banner-color(#CCF390, #555); }
.banner-teal { .banner-color(#59B390, #eff); }
.banner-blue { .banner-color(#49708A, #eef); }

